//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 02 12:08:00 2015
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

