//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 02 11:34:25 2015
//! **************************************************************************

SCHEMATIC START;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

