//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 02 17:50:36 2015
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "H14" LEVEL 1;
COMP "OW_DQ" LOCATE = SITE "E8" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "F14" LEVEL 1;
COMP "clkout" LOCATE = SITE "F9" LEVEL 1;
COMP "output_led<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "output_led<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "output_led<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "output_led<3>" LOCATE = SITE "F11" LEVEL 1;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "Clk_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

